<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="estilos-css/main.css")
        title ...:::Mi primera pagina web:::...

    body
        .contenedor_principal <!-- contenedor Principal -->
            header.cabecera <!-- contenedor cabecera -->  
                #logo
                    h1 Mor
                        span Abant
                nav.menu
                    ul
                        li
                            a.activo(href="") item1
                        li
                            a(href="") item2
                        li
                            a(href="") item3
                        li
                            a(href="") item4  
                        
                #publicidad
                    h1 Responsive Image Grid
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, autem?
        .row
            .column
                img(src="imagenes/wedding.jpg", style="width:100%" alt="")
                img(src="imagenes/rocks.jpg", style="width:100%" alt="")
                img(src="imagenes/falls2.jpg", style="width:100%" alt="")
                img(src="imagenes/paris.jpg", style="width:100%" alt="")
                img(src="imagenes/nature.jpg", style="width:100%" alt="")
                img(src="imagenes/mist.jpg", style="width:100%" alt="")
                img(src="imagenes/paris.jpg", style="width:100%" alt="")
            .column
                img(src="imagenes/underwater.jpg", style="width:100%" alt="")
                img(src="imagenes/ocean.jpg", style="width:100%" alt="")
                img(src="imagenes/wedding.jpg", style="width:100%" alt="")
                img(src="imagenes/mountainskies.jpg", style="width:100%" alt="")
                img(src="imagenes/rocks.jpg", style="width:100%" alt="")
                img(src="imagenes/underwater.jpg", style="width:100%" alt="")
            .column
                img(src="imagenes/wedding.jpg", style="width:100%" alt="")
                img(src="imagenes/rocks.jpg", style="width:100%" alt="")
                img(src="imagenes/falls2.jpg", style="width:100%" alt="")
                img(src="imagenes/paris.jpg", style="width:100%" alt="")
                img(src="imagenes/nature.jpg", style="width:100%" alt="")
                img(src="imagenes/mist.jpg", style="width:100%" alt="")
                img(src="imagenes/paris.jpg", style="width:100%" alt="")
                img(src="imagenes1/img1.jpg", style="width:100%" alt="")
                img(src="imagenes1/logo1.png", style="width:100%" alt="")
            .column
                img(src="imagenes/underwater.jpg", style="width:100%" alt="")
                img(src="imagenes/ocean.jpg", style="width:100%" alt="")
                img(src="imagenes/wedding.jpg", style="width:100%" alt="")
                img(src="imagenes/mountainskies.jpg", style="width:100%" alt="")
                img(src="imagenes/rocks.jpg", style="width:100%" alt="")
                img(src="imagenes/underwater.jpg", style="width:100%" alt="")
                img(src="imagenes1/piscina1.jpg", style="width:100%" alt="")
                img(src="imagenes1/piscina.jpg", style="width:100%" alt="")

