* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecera #logo {
  background-color: rgba(65, 65, 65, 0.2);
}

.cabecera #logo h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.cabecera #logo h1 span {
  color: red;
}

.cabecera #publicidad {
  text-align: center;
  padding: 32px;
  background: tomato;
}

.cabecera .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /*  &:nth-child(1) {
                background: red;
            }*/
}

@media screen and (min-width: 800px) {
  .cabecera .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cabecera .menu ul li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: black;
}

.cabecera .menu ul li a.activo {
  background: red;
}

.cabecera .menu ul li a:hover:not(.activo) {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  height: auto;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (min-width: 600px) {
  .column {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .column {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
}